/* DESCOMENTAR PARA COMPROBAR QUE EL ARCHIVO FUNCIONA */
// @import "../../snippets/comprobar-archivo-funciona.scss";


/* NUEVO CÓDIGO
-------------------------------------------- 
Código para este proyecto
-------------------------------------------- */


/* end NUEVO CÖDIGO  */


/* PREVIOUS CODE
--------------------------------------------
Código del proyecto anterior
--------------------------------------------*/

/* 
article.card{
  background-color: grey;
  position: relative;
  margin: .5em;
  border: 1px solid var(--color_light);
  
  .card__img_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    header{
      font-size: .9em;
    }
  }
} 
 */
/* end PREVIOUS CODE   */

/* 

*/





