/* DESCOMENTAR PARA COMPROBAR QUE EL ARCHIVO FUNCIONA */
// @import "../../snippets/comprobar-archivo-funciona.scss";


/* VARIABLES GENERALES
-------------------------------------------- 
Código para este proyecto
-------------------------------------------- */


$rbl-icons: (
  tipo1: content-valor1,
  tipo2: content-valor2,
);

/* end NUEVO CÖDIGO  */



