/* DESCOMENTAR PARA COMPROBAR QUE EL ARCHIVO FUNCIONA */
// @import "../../snippets/comprobar-archivo-funciona.scss";


/* NUEVO CÓDIGO
-------------------------------------------- 
Código para este proyecto
-------------------------------------------- */

.rbl-video {
  height         : 0;
  overflow       : hidden;
  padding-bottom : 56.25%;
  position       : relative;
  > iframe,
  > video,
  > .video {
    position : absolute;
    top      : 0;
    left     : 0;
    width    : 100%;
    height   : 100%;
  }
}
/* end NUEVO CÖDIGO  */


/* PREVIOUS CODE
--------------------------------------------
Código del proyecto anterior
--------------------------------------------*/


/* end PREVIOUS CODE   */



